* {
    box-sizing: border-box
}

html,
body,
.wrapper {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-color: #fed202;
    color: black;
    animation: rotate 6s infinite alternate linear;

}

.login-card{
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: white;
    text-align: center;

}

.login-card > h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.login-card > h3{
    color: rgba(0, 0, 0, 0.3);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;

}

.login-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 30px;
}

.login-form > input, .login-form > button{
    width: 100%;
    height: 50px;
}

.login-form > input{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.login-form > input:hover{
    border: 2px solid blue;

}

.login-form > button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: blue;
    color: white;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    transition: all 0.39s;
}

.login-form > button:hover{
    background: #fed202;
}

@keyframes rotate{
    100%{
        background-position: 15% 30%;
    }
}

@media (width >= 500px){
    body{
        padding: 0;
    }
    .login-card{
        margin: 0;
        width: 400px;
    }
}